.image {
  width: 100%;
  overflow: hidden;
}

.shelves ul{
  padding: 10px;
  margin: 30px;
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
}

.shelves li{
  padding: 10px 20px;
  text-align: left;
}

.title {
  color: black;
  font: bold;
}

.author {
  color: gray;
}

.reading-books {
  max-width: 130px;
}

.going-to-books {
  max-width: 130px;
}

.read-books {
  max-width: 130px;
}

hr {
  padding: 15px;
  color: black;
  background-image: #0433ff;
}

hr::after {
  display: inline-block;
  position: relative;
  font-size: 25px;
  padding: 8px 13px;
}

.hr::after {
  content: "Reading";
}

.hr1::after {
  content: "Going to Read";
}

.hr2::after {
  content: "Read";
}
