.image {
  width: 100%;
  overflow: hidden;
}

.shelves ul {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  width: 100%;
  padding: 10px;
  margin: 30px;
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
}

.shelves li {
  padding: 10px 40px;
  text-align: left;
}

.title {
  color: black;
  font: bolder;
}

.author {
  color: gray;
}

.reading-books {
  max-width: 130px;
}

.going-to-books {
  max-width: 130px;
}

.read-books {
  max-width: 130px;
}

hr {
  padding: 15px;
  color: black;
  background-image: #0433ff;
}

hr::after {
  display: inline-block;
  position: relative;
  font-size: 25px;
  padding: 8px 13px;
}

.hr::after {
  content: "Reading";
}

.hr1::after {
  content: "Going to Read";
}

.hr2::after {
  content: "Read";
}

.books-actions-select {
  position: static;
  padding: 1px 9px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  font: bolder;
  background-color: rgba(71, 71, 71, 0.1);
  border-radius: 30px;
  border-color: black;
  border-width: 0.13em;
  cursor: pointer;
}

.search-page-button {
  position: fixed;
  font-size: 30px;
  text-decoration: none;
  color: black;
  bottom: 15px;
  right: 15px;
}
