* {
  margin: 0;
  padding: 0;
}

.go-back img {
  width: 70px;
  background-color: rgba(0, 0, 0, 0.1);
}

.search-section {
  display: flex;
}

.search-box {
  width: 100%;
  height: 67px;
  font-size: 20px;
  padding: 0px 25px;
}

.search-button {
  width: 90px;
  height: 71px;
  font-size: 25px;
}

.books-ul {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  width: 100%;
  padding: 10px;
  margin: 30px;
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
}
